.link-div{
    border: 1px solid;
    margin-top: 5px;
    text-align: center;
}

.link-div a {
    text-decoration: none;
    color: black;
}

.link-div h5{
    margin: 4px;
}

.products-div{
    width: 86%;
    border: 1px solid;
    display: flex;
    flex-wrap: wrap;
}

.links-div{
    width: 13%;
    border: 1px solid;
    padding: 5px;
}

.base-div {
    display: flex;
    border: 1px solid;
}

.product {
    border: 1px solid;
    margin: 5px;
}

.product img {
    margin: 8px;
}