.button-div{
    margin-top: 5px;
    text-align: center;
}
button.btn-pro {
    background: white;
    color: black;
    font-size: initial;
    font-variant: all-small-caps;
}

.buttons-div {
    display: block;
    padding: 15px;
}

.products-div{
    width: 88%;
    border: 1px solid;
    display: flex;
    flex-wrap: wrap;
}

.links-div{
    width: 13%;
    border: 1px solid;
    padding: 5px;
}

.base-div {
    display: flex;
}

.con-prod>div {
    border: 1px solid;
    margin: 5px;
    text-align: center;
    width: 252px;
}

.con-prod img {
    margin: 8px;
    width: 200px;
    height: 200px;
}

.con-prod {
    display: flex;
    flex-wrap: wrap;
}

.con-prod h4{
    margin: 0;
}

.con-prod p{
    font-size: 11px;
    margin: 5px;
}

#plate {
    display: flex;
}

#coil {
    display: none;
}

.text-inside-div{
    margin: 4%;
    font-family: cursive;
}

#bolts img{
    height: 100px;
}

#nuts img {
    width: 100px;
    height: 100px;
}