.button-div{
    margin-top: 5px;
    text-align: center;
}
button.btn-pro {
    background: white;
    color: black;
    font-size: initial;
    font-variant: all-small-caps;
}

.buttons-div {
    display: block;
    padding: 15px;
}

.products-div{
    width: 88%;
    border: 1px solid;
    display: flex;
    flex-wrap: wrap;
}

.links-div{
    width: 13%;
    border: 1px solid;
    padding: 5px;
}

.base-div {
    display: flex;
    border: 1px solid;
}

.product {
    border: 1px solid;
    margin: 5px;
    text-align: center;
}

.product img {
    margin: 8px;
}

.con-prod {
    display: flex;
    flex-wrap: wrap;
}

#plate {
    display: flex;
}

#coil {
    display: none;
}

.text-inside-div{
    margin: 4%;
    font-family: cursive;
}