.div_1 {

        height: 500px;
        width: 900px;
        display: inline-flex;
        background-color: aqua;
}


.center_div{
    background-image: url("../images/login_.jpg");
    padding-top: 80px;
    text-align: center;
    background-repeat: round;
}
.div_1_left {
    background-image: url("../images/signin_right.png");
    width: 350px;
    height: 500px;
}
.div_1_left div{
    padding-top: 99px;
    color: white;
    text-align: center;
    width: 348px;
    height: 374px;
}
.buton{
    font-size: 28px;

    display:inline-block;
    padding:0.3em 1.2em;
    margin:0 0.3em 0.3em 0;
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FFFFFF;
    background-color:#4eb5f1;
    text-align:center;
    transition: all 0.2s;
    margin-top: 20px;
}

.div_1_right{
    width: 550px;
    text-align: center;
    background-color: wheat;
}
input#name {
    margin-top: 50px;
    display: block;
    margin-left: 185px;
    outline: none;
    font-family: Roboto, Arial, sans-serif;
    font-size: 16px;
    color: #666;
    font-variant: all-petite-caps;
    border-style: hidden;
}
input#surname {
    margin-top: 30px;
    display: block;
    margin-left: 185px;
    outline: none;
    font-family: Roboto, Arial, sans-serif;
    font-size: 16px;
    color: #666;
    font-variant: all-petite-caps;
    border-style: hidden;
}
input#email{
    margin-top: 30px;
    display: block;
    margin-left: 185px;
    outline: none;
    font-family: Roboto, Arial, sans-serif;
    font-size: 16px;
    color: #666;
    font-variant: all-petite-caps;
    border-style: hidden;
}

#logo {
    border-radius: 100px;
}
input#password{
    margin-top: 30px;
    display: block;
    margin-left: 185px;
    outline: none;
    font-family: Roboto, Arial, sans-serif;
    font-size: 16px;
    color: #666;
    font-variant: all-petite-caps;
    border-style: hidden;
}

.footer-basic {
    background-color:#ffffff;
    opacity: 0.8;
    bottom: 0.5%;
    left: 0;
    right: 0;
  
}
      
.footer-basic ul {
        padding:0;
        list-style:none;
        text-align:center;
        font-size:18px;
        line-height:1.6;
        margin-bottom:0;
}
      
.footer-basic li {
        padding:0 10px;
      }
      
.footer-basic ul a {
        color:inherit;
        text-decoration:none;
        opacity:0.8;
      }
      
.footer-basic ul a:hover {
        opacity:1;
      }
      
.footer-basic .social {
        text-align:center;
        padding-bottom:25px;
      }
      
.footer-basic .social > a {
        font-size:24px;
        width:40px;
        height:40px;
        line-height:40px;
        display:inline-block;
        text-align:center;
        border-radius:50%;
        border:1px solid #ccc;
        margin:0 8px;
        color:inherit;
        opacity:0.75;
      }
      
.footer-basic .social > a:hover {
        opacity:0.9;
      }
      
 .footer-basic .copyright {
        margin-top:15px;
        text-align:center;
        font-size:13px;
        color:#aaa;
        margin-bottom:0;
 }